<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kitten.infrastructure.dao.IOpenAIOrderDao">

    <resultMap id="userAccountMap" type="com.kitten.infrastructure.po.OpenAIOrderPO">
        <id column="id" property="id"/>
        <result column="openid" property="openid"/>
        <result column="product_id" property="productId"/>
        <result column="product_name" property="productName"/>
        <result column="product_quota" property="productQuota"/>
        <result column="order_id" property="orderId"/>
        <result column="order_time" property="orderTime"/>
        <result column="order_status" property="orderStatus"/>
        <result column="total_amount" property="totalAmount"/>
        <result column="pay_type" property="payType"/>
        <result column="pay_url" property="payUrl"/>
        <result column="pay_amount" property="payAmount"/>
        <result column="transaction_id" property="transactionId"/>
        <result column="pay_status" property="payStatus"/>
        <result column="pay_time" property="payTime"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!--  查询未支付订单  -->
    <select id="queryUnpaidOrder" resultMap="userAccountMap"
            parameterType="com.kitten.infrastructure.po.OpenAIOrderPO">
        select openai_order.order_id, openai_order.product_name, openai_order.pay_url, openai_order.pay_status, openai_order.total_amount
        from openai_order
        where openid = #{openid} and product_id = #{productId} and order_status = 0
        order by id desc
        limit 1
    </select>


    <!--  插入订单  -->
    <insert id="insert" parameterType="com.kitten.infrastructure.po.OpenAIOrderPO">
        insert into openai_order(
            openid, product_id, product_name, product_quota, order_id, order_time, order_status, total_amount,
            pay_type, pay_status, pay_time, create_time, update_time)
        values(
            #{openid}, #{productId}, #{productName}, #{productQuota}, #{orderId},
            #{orderTime}, #{orderStatus}, #{totalAmount}, #{payType},
            #{payStatus}, #{payTime}, now(), now()
        )
    </insert>

<!--  更新订单支付信息  -->
    <update id="updateOrderPayInfo" parameterType="com.kitten.infrastructure.po.OpenAIOrderPO">
        update openai_order
        set pay_status = #{payStatus}, pay_time = #{payTime}, update_time = now()
        where openid = #{openid} and order_id = #{orderId}
    </update>

<!--    更改订单支付成功 -->
    <update id="changeOrderPaySuccess" parameterType="java.lang.String">
        update openai_order
        set order_status = 1 ,pay_status = 1, update_time = now()
        where order_id = #{orderId}
    </update>
<!--    查询订单 -->
    <select id="queryOrder" resultMap="userAccountMap"
            parameterType="java.lang.String">
        select openid, product_id, product_name, product_quota, order_id, order_time, order_status, total_amount,
        pay_type, pay_status, pay_time
        from openai_order
        where order_id = #{orderId}
    </select>
<!--    更新订单状态为已发货 -->
    <update id="updateOrderStatusDeliverd" parameterType="java.lang.String">
        update openai_order
        set order_status = 2, update_time = now()
        where order_id = #{orderId} and order_status = 1
    </update>



</mapper>